<div class = "gw_wishes">
	<% @wishes.each do |wish| %>
		<% if wish._type == "SassyWish" %>
			<p class="gw_para">
				<%= wish.nickname %>,<br>
				It's been <%= wish.time %> that we've been <%= wish.relationship %>.  One of my favorite moments was when <%= wish.embarrassing %>.  Now that you are a college graduate, I would like to tell you <%= wish.good_advice %> but beware of <%= wish.bad_things %>.  Good luck <%= wish.luck %>!
				<%= wish.closing %>
				<%= wish.friend %>
				P.S. <%= wish.ps %>
			</p>
		<% elsif wish._type == "NiceWish" %>
			<p class="gw_para">
				<%= wish.nickname %>,<br>
				We've known each other <%= wish.time %> and I have always <%= wish.nice_one %>.  Now that you are a college graduate, <%= wish.advice %>.  I wish you <%= wish.thought %> and hope <%= wish.hope %>. 
				<%= wish.closing %>
				<%= wish.friend %>
				P.S. <%= wish.ps %>
			</p>
		<% elsif wish._type == "BlankWish" %>
			<p class = "gw_para">
				<%= wish.blank_wish %>
			</p>
		<% else %>
			<%= render :none %>
		<% end %>
	<% end %>
</div>