<div class = "gw_wishes">
	<% @wishes.each do |wish| %>
		<% if wish._type == "SassyWish" %>
			<div class="gw_para">
				<%= wish.nickname %>,<br>
				It's been <%= wish.time %> that we've been <%= wish.relationship %>.  One of my favorite moments was when <%= wish.embarrassing %>.  Now that you are a college graduate, I would like to tell you <%= wish.good_advice %> but beware of <%= wish.bad_things %>.  Good luck <%= wish.luck %>!<br>
				<%= wish.closing %><br>
				<%= wish.friend %><br>
				P.S. <%= wish.ps %>
			</div>
		<% elsif wish._type == "NiceWish" %>
			<div class="gw_para">
				<%= wish.nickname %>,<br>
				We've known each other <%= wish.time %> and I have always <%= wish.nice_one %>.  Now that you are a college graduate, <%= wish.advice %>.  I wish you <%= wish.thought %> and hope <%= wish.hope %>. <br>
				<%= wish.closing %><br>
				<%= wish.friend %><br>
				P.S. <%= wish.ps %>
			</div>
		<% elsif wish._type == "BlankWish" %>
			<div class = "gw_para">
				<%= simple_format(wish.blank_wish, {}, sanitize: false) %>
			</div>
		<% else %>
			<%= render :none %>
		<% end %>
	<% end %>
</div>