<div class="contain-to-grid" id="user-widget">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name gw_home">
      	<%= link_to image_tag("../assets/logo.png", :class=>"gw_logo"), root_url %>
      </li>
      <li class="toggle-topbar">
        <a href="#">
          <span>Menu</span>
        </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="gw_username"><img src="../assets/star.png" class="gw_star" /><%= @user.name %></li>
        <li class="gw_nav"><%= link_to "See All Notes", wishes_url %></li>
				<li class="gw_nav"><%= link_to "New", new_wish_url %></li>
        <li class="gw_nav"><%= link_to "Sign Out", signout_url %></li>
      </ul>
    </section>
  </nav>
</div>