<div class="contain-to-grid" id="user-widget">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name gw_home">
      	<%= link_to "Yay Lizzie!", root_url %>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="gw_username"><%= @user.name %></li>
        <li class="gw_nav"><%= link_to "See All Notes", wishes_url %></li>
				<li class="gw_nav"><%= link_to "New", new_wish_url %></li>
        <li class="gw_nav"><%= link_to "Sign Out", signout_url %></li>
      </ul>
    </section>
  </nav>
</div>